<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlexGridRow</title>
    <link rel = "stylesheet"href="../css/flexGrid.css" type="text/css"/>
</head>
<body>
<p>Using flex box</p>
<div class="flex-row">
    <div class="flex-col">
        <div>
            <input type="radio" value="radioAValue" name="radioGroupNameOrFormFieldName_" id="radioAId">
            <label for="radioAId">LabelText Col A</label>
        </div>
        <div>
            <input type="radio" value="radioBValue" name="radioGroupNameOrFormFieldName_" id="radioBId">
            <label for="radioBId">LabelText Col B</label>
        </div>
    </div>
    <div class="flex-col">
        <div>
            <input type="radio" value="radioCValue" name="radioGroupNameOrFormFieldName_" id="radioCId">
            <label for="radioCId">LabelText Col C</label>
        </div>
        <div>
            <input type="radio" value="radioDValue" name="radioGroupNameOrFormFieldName_" id="radioDId">
            <label for="radioDId">LabelText Col D</label>
        </div>
    </div>
</div>

<p>Using grid class</p>

<div class="tuple-row">
        <div>
            <input type="radio" value="radio3Value" name="radioGroupNameOrFormFieldName" id="radio3Id">
            <label for="radio3Id">LabelText Col 3</label>
        </div>
        <div>
            <input type="radio" value="radio4Value" name="radioGroupNameOrFormFieldName" id="radio4Id">
            <label for="radio4Id">LabelText Col 4</label>

        </div>
</div>
<div class="tuple-row">
    <div>
        <input type="radio" value="radio5Value" name="radioGroupNameOrFormFieldName" id="radio5Id">
        <label for="radio5Id">LabelText Col 5</label>
    </div>
    <div>
        <input type="radio" value="radio6Value" name="radioGroupNameOrFormFieldName" id="radio6Id">
        <label for="radio6Id">LabelText Col 6</label>

    </div>
</div>
</body>
</html>